<nav class="navbar navbar-default ct-defaultMenu" data-startnavbar="145">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ct-navbar--zoomIn" data-time="">
                <li><a href="/"><span class="ct-dot"></span>Home</a></li>
                <li><a href="/"><span class="ct-dot"></span>Pachete Funerare</a></li>
                <li><a href="obituaries.html"><span class="ct-dot"></span>Monumente Funerare</a></li>
                <li class="dropdown"><a href="about.html.twig"><span class="ct-dot"></span>Articole Funerare<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html.twig">Aranjamente Florare</a></li>
                        <li><a href="our-services.html">Ceramica Funerara</a></li>
                        <li><a href="/">Felinare Metalice Cimitir</a></li>
                        <li><a href="/">Lumanari</a></li>
                        <li><a href="/">Sicrie</a></li>
                    </ul>
                </li>
                <li><a href="/"><span class="ct-dot"></span>Transport Funerar</a></li>
                <li><a href="/"><span class="ct-dot"></span>Contact</a></li>
            </ul>
            <div class="ct-navbar-search ct-navbar-search--type1">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control ct-fs-i input-lg" placeholder="Please type keywords..." required="">
                    </div>
                    <button class="ct-navbar-search-button" type="submit">
                        <i class="fa fa-search fa-fw"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>