<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li><a href="/">Home</a></li>
        <li><a href="/">Pachete Funerare</a></li>
        <li><a href="/">Monumente Funerare</a></li>
        <li class="dropdown"><a href="/">Articole Funerare <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="/">Aranjamente Florare</a></li>
                <li><a href="/">Ceramica Funerara</a></li>
                <li><a href="/">Felinare Metalice Cimitir</a></li>
                <li><a href="/">Lumanari</a></li>
                <li><a href="/">Sicrie</a></li>
            </ul>
        </li>
        <li><a href="/">Transport Funerar</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
</div>