<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li class="dropdown">
            <a href="index.html">Home <i class="fa fa-plus"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="index.html">Home Version <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index-onepager.html">Home Onepager</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu"><a href="index.html">Header Effects <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                        <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                        <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                        <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                        <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                        <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                        <li><a href="index-hideMenu.html">Hide Menu </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="obituaries.html">Obituaries</a></li>
        <li class="dropdown"><a href="flowers-and-gifts.html">Flowers &amp; Gifts <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                <li><a href="single-product-page.html">Flowers Bouquet</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="about.html.twig">About Us <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="about.html.twig">About Us</a></li>
                <li><a href="our-services.html">Our Services</a></li>
                <li class="dropdown-submenu"><a href="blog.html">Blog <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-single.html">Blog Single Page</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown"><a href="features-grid.html">Features <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="features-grid.html">Grid System</a></li>
                <li><a href="features-typography.html">Typography</a></li>
                <li><a href="features-buttons.html">Buttons</a></li>
                <li><a href="features-forms.html">Forms</a></li>
                <li class="dropdown-submenu"><a href="features-toggable.html">Toggables <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-toggable.html">Accordions</a></li>
                        <li><a href="features-tabs.html">Tabs</a></li>
                    </ul>
                </li>
                <li><a href="features-counters.html">Counters</a></li>
                <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                <li><a href="features-tables.html">Tables</a></li>
                <li><a href="features-personBoxes.html">Person Boxes</a></li>
                <li><a href="features-charts.html">Charts</a></li>
                <li class="dropdown-submenu"><a href="features-p-icons.html">Progress  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-p-icons.html">Progress Icons</a></li>
                        <li><a href="features-p-bars.html">Progress Bars</a></li>
                    </ul>
                </li>
                <li><a href="features-p-tables.html">Pricing Tables</a></li>
                <li class="dropdown-submenu"><a href="features-lists.html">Lists  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-lists.html">Lists Simple</a></li>
                        <li><a href="features-lists-icons.html">Lists Icons</a></li>
                    </ul>
                </li>
                <li><a href="features-media-section.html">Media Sections</a></li>
                <li><a href="features-developers.html">For Developers</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="grief-support-resources.html">Grief &amp; Healing <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="grief-support-resources.html">Support Resources</a></li>
                <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                <li><a href="healing-process.html">The Healing Process</a></li>
                <li><a href="counselling-services.html">Counselling Services</a></li>
                <li><a href="grief-occured-death.html">Grief After Death</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</div>