
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Memoria - Funeral Home HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>Memoria - Funeral Home HTML Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate  ct-headroom--fixedMenu">
<div class="ct-preloader"><div class="ct-preloader-content"></div></div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li class="dropdown">
            <a href="index.html">Home <i class="fa fa-plus"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="index.html">Home Version <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index-onepager.html">Home Onepager</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu"><a href="index.html">Header Effects <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                        <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                        <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                        <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                        <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                        <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                        <li><a href="index-hideMenu.html">Hide Menu </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="obituaries.html">Obituaries</a></li>
        <li class="dropdown"><a href="flowers-and-gifts.html">Flowers &amp; Gifts <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                <li><a href="single-product-page.html">Flowers Bouquet</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="about.html.twig">About Us <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="about.html.twig">About Us</a></li>
                <li><a href="our-services.html">Our Services</a></li>
                <li class="dropdown-submenu"><a href="blog.html">Blog <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-single.html">Blog Single Page</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown"><a href="features-grid.html">Features <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="features-grid.html">Grid System</a></li>
                <li><a href="features-typography.html">Typography</a></li>
                <li><a href="features-buttons.html">Buttons</a></li>
                <li><a href="features-forms.html">Forms</a></li>
                <li class="dropdown-submenu"><a href="features-toggable.html">Toggables <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-toggable.html">Accordions</a></li>
                        <li><a href="features-tabs.html">Tabs</a></li>
                    </ul>
                </li>
                <li><a href="features-counters.html">Counters</a></li>
                <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                <li><a href="features-tables.html">Tables</a></li>
                <li><a href="features-personBoxes.html">Person Boxes</a></li>
                <li><a href="features-charts.html">Charts</a></li>
                <li class="dropdown-submenu"><a href="features-p-icons.html">Progress  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-p-icons.html">Progress Icons</a></li>
                        <li><a href="features-p-bars.html">Progress Bars</a></li>
                    </ul>
                </li>
                <li><a href="features-p-tables.html">Pricing Tables</a></li>
                <li class="dropdown-submenu"><a href="features-lists.html">Lists  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-lists.html">Lists Simple</a></li>
                        <li><a href="features-lists-icons.html">Lists Icons</a></li>
                    </ul>
                </li>
                <li><a href="features-media-section.html">Media Sections</a></li>
                <li><a href="features-developers.html">For Developers</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="grief-support-resources.html">Grief &amp; Healing <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="grief-support-resources.html">Support Resources</a></li>
                <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                <li><a href="healing-process.html">The Healing Process</a></li>
                <li><a href="counselling-services.html">Counselling Services</a></li>
                <li><a href="grief-occured-death.html">Grief After Death</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Website Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="ct-topBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-4 text-left">
                <div class="ct-contactBox">
                    <ul class="ct-contactBox-list list-unstyled list-inline">
                        <li  data-toggle="tooltip" data-placement="bottom" title="Call us" class="active"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                    </ul>
                    <span class="ct-contactBox-content ct-u-colorMotive ct-u-displayBlock ct-u-fontType2">0 800 123 4567</span>
                    <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-colorWhite ct-u-displayBlock ">Call Us 24/7</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4 text-center">
                <a href="index.html"><img src="assets/images/logo.png" alt="Logo Image"/></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                <ul class="ct-socials list-unstyled list-inline">
                    <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Search" class="ct-divider active">
                        <div id="ct-js-navSearch" class="ct-navbar-navSearch">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default ct-defaultMenu" data-startnavbar="145">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ct-navbar--zoomIn" data-time="">
                <li class="dropdown"><a href="index.html"><span class="ct-dot"></span>Home<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown"><a href="index.html">Home Version</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index-onepager.html">Home Onepager</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="index-fixedTopBar.html">Header Effects</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                                <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                                <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                                <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                                <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                                <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                                <li><a href="index-hideMenu.html">Hide Menu </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="obituaries.html"><span class="ct-dot"></span>Obituaries</a></li>
                <li class="dropdown"><a href="flowers-and-gifts.html"><span class="ct-dot"></span>Flowers &amp; Gifts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                        <li><a href="single-product-page.html">Flowers Bouquet</a></li>
                    </ul>
                </li>
                <li class="dropdown active"><a href="about.html.twig"><span class="ct-dot"></span>About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html.twig">About Us</a></li>
                        <li><a href="our-services.html">Our Services</a></li>
                        <li class="dropdown active"><a href="blog.html">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li class="active"><a href="blog-single.html">Blog Single Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="features-grid.html"><span class="ct-dot"></span>Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-grid.html">Grid System</a></li>
                        <li><a href="features-typography.html">Typography</a></li>
                        <li><a href="features-buttons.html">Buttons</a></li>
                        <li><a href="features-forms.html">Forms</a></li>
                        <li class="dropdown"><a href="features-toggable.html">Toggables</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-toggable.html">Accordions</a></li>
                                <li><a href="features-tabs.html">Tabs</a></li>
                            </ul>
                        </li>
                        <li><a href="features-counters.html">Counters</a></li>

                        <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                        <li><a href="features-tables.html">Tables</a></li>
                        <li><a href="features-personBoxes.html">Person Boxes</a></li>
                        <li><a href="features-charts.html">Charts</a></li>
                        <li class="dropdown"><a href="features-p-icons.html">Progress</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-p-icons.html">Progress Icons</a></li>
                                <li><a href="features-p-bars.html">Progress Bars</a></li>
                            </ul>
                        </li>
                        <li><a href="features-p-tables.html">Pricing Tables</a></li>
                        <li class="dropdown"><a href="features-lists.html">Lists</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-lists.html">Lists Simple</a></li>
                                <li><a href="features-lists-icons.html">Lists Icons</a></li>
                            </ul>
                        </li>
                        <li><a href="features-media-section.html">Media Sections</a></li>
                        <li><a href="features-developers.html">For Developers</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="grief-support-resources.html"><span class="ct-dot"></span>Grief &amp; Healing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="grief-support-resources.html">Support Resources</a></li>
                        <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                        <li><a href="healing-process.html">The Healing Process</a></li>
                        <li><a href="counselling-services.html">Counselling Services</a></li>
                        <li><a href="grief-occured-death.html">Grief After Death</a></li>
                    </ul>
                </li>
                <li><a href="contact.html"><span class="ct-dot"></span>Contact Us</a></li>
            </ul>
            <div class="ct-navbar-search ct-navbar-search--type1">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control ct-fs-i input-lg" placeholder="Please type keywords..." required="">
                    </div>
                    <button class="ct-navbar-search-button" type="submit">
                        <i class="fa fa-search fa-fw"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>


<header class="ct-mediaSection ct-mediaSectionHeader ct-u-colorWhite" data-color="#fff"  data-height="300px" data-background="assets/images/content/header-blog.jpg" data-background-mobile="assets/images/content/header-blog.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row text-center ct-u-paddingTop40">
                <div class="col-md-12">
                    <h3 class="ct-fw-700 text-uppercase">About Us</h3>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html.twig">About Us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="active">5 Steps to Recover Faster After Loss</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>

    <section class="ct-u-paddingTop60 ct-u-paddingBottom100 ct-blog ct-u-backgroundDark" itemscope itemtype="http://schema.org/Blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">

                    <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="ct-article ct-article-single">
                    <div class="ct-article-media">
                        <img itemprop="image" src="assets/images/content/blog-post4.jpg" alt="blog-post">
                    </div>
                    <div class="ct-article-title">
                        <a itemprop="url" href="blog-single.html">
                            <h4>5 Steps to Recover Faster After Loss</h4>
                        </a>
                    </div>
                    <ul class="list-unstyled list-inline ct-article-meta">
                        <li class="ct-article-author">
                            <a itemprop="url" href="blog-single.html">
                                <span itemprop="author">Admin</span>
                            </a>
                        </li>
                        <li itemprop="dateCreated" class="ct-article-date">
                            Jun 30, 2015
                        </li>
                        <li class="ct-article-category">
                            <span itemprop="keywords">Recovering</span>,
                            <span itemprop="keywords">Advices</span>
                        </li>
                        <li class="ct-article-comments">
                            <a itemprop="url" href="blog-single.html">
                                                  <span itemprop="commentCount">2
                                                  </span>
                                Comments
                            </a>
                        </li>
                    </ul>
                    <div itemprop="text" class="ct-article-description">
                        <p>
                            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
                            ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi.
                            Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                        </p>
                        <p>

                            Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet,
                            elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat,
                            purus sapien ultricies dolor, et mollis pede metus eget nisi.
                            Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                        </p>
                    </div>
                    </article>

                    <section class="ct-panel ct-u-paddingBottom80">
                        <div class="ct-share">
                            <h6 class="ct-u-colorWhite text-uppercase ct-fw-700">Share This Post</h6>
                            <ul class="ct-socials list-unstyled list-inline">
                                <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </section>

                    <section class="ct-panel">
                        <h6 class="ct-u-colorWhite text-uppercase ct-fw-700 ct-u-paddingBottom20">2 comments</h6>
                        <div class="media">
                            <div class="media-left"><img class="media-object" src="assets/images/content/image-thumbnail1.jpg" alt="Image"></div>
                                <div class="media-body">
                                    <div class="ct-comments">
                                        <span class="ct-author">John Snow</span>
                                        <span class="ct-date">Jun 30,2015, 11:12</span>
                                        <span class="ct-replyButton"><a href="#">Reply</a></span>
                                        <p class="ct-description">
                                            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                        </p>
                                    </div>
                                </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><img class="media-object" src="assets/images/content/image-thumbnail2.jpg" alt="Image"></div>
                            <div class="media-body">
                                <div class="ct-comments">
                                    <span class="ct-author">Mike Mamona</span>
                                    <span class="ct-date">Jun 24,2015, 09:27</span>
                                    <span class="ct-replyButton"><a href="#">Reply</a></span>
                                    <p class="ct-description">
                                        Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="ct-panel">
                        <h6 class="ct-u-colorWhite text-uppercase ct-fw-700 ct-u-paddingBottom20">join discussion</h6>

                        <form role="form" action="assets/form/send.php" method="post" class="validateIt" data-email-subject="Contact Form" data-show-errors="true">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ct-input-different">
                                        <input type="text" class="form-control input-sm" name="field[]" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ct-input-different">
                                        <input type="email" class="form-control input-sm" name="field[]" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ct-input-different">
                                        <input type="text" class="form-control input-sm" name="field[]" id="website" placeholder="Website">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group ct-input-different">
                                        <textarea class="form-control ct-inputCode" rows="4" name="field[]" placeholder="Your comments ..." id="obs" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="ct-article-readMore">
                                <button type="submit" class="btn btn-default btn--iconRight">Add Comment<i class="fa fa-caret-right"></i></button>
                            </div>
                        </form>
                        <div class="successMessage alert alert-success ct-u-marginTop30" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Thank You!
                        </div>
                        <div class="errorMessage alert alert-danger ct-u-marginTop30" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Ups! An error occured. Please try again later.
                        </div>
                    </section>


            </div>
            <div class="col-md-4">
            <aside class="ct-sidebar ct-frame">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <section class="widget ct-search-widget ct-u-paddingBottom20">
                            <div class="widget-inner">
                                <div class="form-group ct-widget-search">
                                    <input placeholder="Search" required="" type="text" name="field[]" class="form-control input-sm">
                                    <button>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <section class="widget ct-u-paddingBottom5">
                            <div class="widget-inner">
                                <h6 class="ct-u-borderBottom ct-u-paddingBottom20">Categories</h6>
                                <ul class="ct-widget-lists list-unstyled">
                                    <li class="ct-u-borderBottom"><a href="#">Advices<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">Life Goes On<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">Recovering<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">World News<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">Offtopic<i class="fa fa-caret-right"></i></a></li>
                                </ul>
                            </div>
                        </section>

                        <section class="widget ct-u-paddingBottom5">
                            <div class="widget-inner">
                                <h6 class="ct-u-paddingBottom5">recent posts</h6>

                                <div class="media ct-u-paddingBottom20 ct-u-borderBottom">
                                    <div class="media-left">
                                        <img class="media-object" src="assets/images/content/image-thumbnail1.jpg" alt="Image">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading ct-u-fontSize14 ct-fs-i ct-u-fontType2 ">5 Steps to Recover After Loss</div>
                                        <div class="ct-u-colorLight ct-u-fontSize14 ct-fs-i ct-u-fontType2">by Admin on Jun 30, 2015</div>
                                    </div>
                                </div>

                                <div class="media ct-u-paddingBottom20 ct-u-paddingTop20 ct-u-borderBottom">
                                    <div class="media-left">
                                        <img class="media-object" src="assets/images/content/image-thumbnail2.jpg" alt="Image">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading ct-u-fontSize14 ct-fs-i ct-u-fontType2 ">How to Prepare Your Children</div>
                                        <div class="ct-u-colorLight ct-u-fontSize14 ct-fs-i ct-u-fontType2">by Admin on Jun 30, 2015</div>
                                    </div>
                                </div>

                                <div class="media ct-u-paddingBottom20 ct-u-paddingTop20">
                                    <div class="media-left">
                                        <img class="media-object" src="assets/images/content/image-thumbnail3.jpg" alt="Image">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading ct-u-fontSize14 ct-fs-i ct-u-fontType2 ">Supporting Your Friends</div>
                                        <div class="ct-u-colorLight ct-u-fontSize14 ct-fs-i ct-u-fontType2">by Admin on Jun 30, 2015</div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="widget ct-u-paddingBottom5">
                            <div class="widget-inner">
                                <h6 class="ct-u-borderBottom ct-u-paddingBottom20">archive</h6>
                                <ul class="ct-widget-lists list-unstyled">
                                    <li class="ct-u-borderBottom"><a href="#">June 2015<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">May 2015<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">April 2015<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">March 2015<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">February 2015<i class="fa fa-caret-right"></i></a></li>
                                    <li class="ct-u-borderBottom"><a href="#">Older Posts<i class="fa fa-caret-right"></i></a></li>
                                </ul>
                            </div>
                        </section>

                        <section class="widget ct-u-paddingBottom5">
                            <div class="widget-inner">
                                <h6 class="ct-u-paddingBottom20">tag cloud</h6>
                                <ul class="ct-tags list-unstyled list-inline">
                                    <li><a href="#">Loss</a></li>
                                    <li><a href="#">Recovery</a></li>
                                    <li><a href="#">Family</a></li>
                                    <li><a href="#">Child</a></li>
                                    <li><a href="#">Funeral</a></li>
                                    <li><a href="#">Ceremony</a></li>
                                    <li><a href="#">Money</a></li>
                                    <li><a href="#">Church</a></li>
                                    <li><a href="#">Graveyard</a></li>
                                    <li><a href="#">Grief</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </aside>
            </div>
            </div>
            </div>
    </section>

<footer class="ct-footer">
    <div class="ct-footerUp">
        <ul class="list-inline list-unstyled text-center">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="obituaries.html">Obituaries</a>
            </li>
            <li>
                <a href="flowers-and-gifts.html">Flowers & Gifts</a>
            </li>
            <li>
                <a href="our-services.html">Our Services</a>
            </li>
            <li>
                <a href="about.html.twig">About Us</a>
            </li>
            <li>
                <a href="grief-support-resources.html">Grief & Healing</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="ct-footerMiddle">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell ct-col1">
                    <a href="index.html"><img src="assets/images/logo-dark.png" alt="Logo dark"/></a>
                </div>
                <div class="ct-u-displayTableCell ct-col2">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Call us"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">0 800 123 4567</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">Call Us 24/7</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col3">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Send a message"><a href="#"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">info@example.com</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">We will respond within 12h</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col4">
                    <ul class="ct-socials list-unstyled list-inline">
                        <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
               <span class="ct-sectioButton--square">
                   <i class="fa fa-angle-double-up"></i>
               </span>
            </a>
        </div>
    </div>
    <div class="ct-footerBottom text-center">
        <span class="ct-copyright">
            Copyrights © 2015 <span><a href="index.html">Memoria</a></span>. All rights reserved.
        </span>
        <span class="ct-company">
            Made with <span class="ct-heart"><i class="fa fa-heart-o"></i></span> by <a href="http://www.remotedevelopers.eu/">CreateIT</a>
        </span>
    </div>

</footer>
</div>

<!-- JavaScripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.placeholder.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/jquery.browser.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/snap.min.js"></script>

<script src="assets/js/smoothScroll.js"></script>
<script src="assets/js/media-section.js"></script>

<script src="assets/js/main.js"></script>

<!--Media Section-->
<script src="assets/js/jquery.stellar.min.js"></script>

<!--Topbar and Navbar effects-->
<script src="assets/js/headroom/headroom.js"></script>
<script src="assets/js/headroom/jQuery.headroom.js"></script>
<script src="assets/js/headroom/init.js"></script>

<!--Owl Slider-->
<script src="assets/plugins/owl/owl.carousel.min.js"></script>
<script src="assets/plugins/owl/init.js"></script>

<!--Contact Form-->
<script src="assets/form/js/contact-form.js"></script>


</body>
</html>