<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Memoria - Funeral Home HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>Memoria - Funeral Home HTML Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate  ct-headroom--fixedMenu">
<div class="ct-preloader"><div class="ct-preloader-content"></div></div>

<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li class="dropdown">
            <a href="index.html">Home <i class="fa fa-plus"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="index.html">Home Version <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index-onepager.html">Home Onepager</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu"><a href="index.html">Header Effects <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                        <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                        <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                        <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                        <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                        <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                        <li><a href="index-hideMenu.html">Hide Menu </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="obituaries.html">Obituaries</a></li>
        <li class="dropdown"><a href="flowers-and-gifts.html">Flowers &amp; Gifts <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                <li><a href="single-product-page.html">Flowers Bouquet</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="about.html.twig">About Us <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="about.html.twig">About Us</a></li>
                <li><a href="our-services.html">Our Services</a></li>
                <li class="dropdown-submenu"><a href="blog.html">Blog <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-single.html">Blog Single Page</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown"><a href="features-grid.html">Features <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="features-grid.html">Grid System</a></li>
                <li><a href="features-typography.html">Typography</a></li>
                <li><a href="features-buttons.html">Buttons</a></li>
                <li><a href="features-forms.html">Forms</a></li>
                <li class="dropdown-submenu"><a href="features-toggable.html">Toggables <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-toggable.html">Accordions</a></li>
                        <li><a href="features-tabs.html">Tabs</a></li>
                    </ul>
                </li>
                <li><a href="features-counters.html">Counters</a></li>
                <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                <li><a href="features-tables.html">Tables</a></li>
                <li><a href="features-personBoxes.html">Person Boxes</a></li>
                <li><a href="features-charts.html">Charts</a></li>
                <li class="dropdown-submenu"><a href="features-p-icons.html">Progress  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-p-icons.html">Progress Icons</a></li>
                        <li><a href="features-p-bars.html">Progress Bars</a></li>
                    </ul>
                </li>
                <li><a href="features-p-tables.html">Pricing Tables</a></li>
                <li class="dropdown-submenu"><a href="features-lists.html">Lists  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-lists.html">Lists Simple</a></li>
                        <li><a href="features-lists-icons.html">Lists Icons</a></li>
                    </ul>
                </li>
                <li><a href="features-media-section.html">Media Sections</a></li>
                <li><a href="features-developers.html">For Developers</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="grief-support-resources.html">Grief &amp; Healing <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="grief-support-resources.html">Support Resources</a></li>
                <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                <li><a href="healing-process.html">The Healing Process</a></li>
                <li><a href="counselling-services.html">Counselling Services</a></li>
                <li><a href="grief-occured-death.html">Grief After Death</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Website Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="ct-topBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-4 text-left">
                <div class="ct-contactBox">
                    <ul class="ct-contactBox-list list-unstyled list-inline">
                        <li  data-toggle="tooltip" data-placement="bottom" title="Call us" class="active"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                    </ul>
                    <span class="ct-contactBox-content ct-u-colorMotive ct-u-displayBlock ct-u-fontType2">0 800 123 4567</span>
                    <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-colorWhite ct-u-displayBlock ">Call Us 24/7</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4 text-center">
                <a href="index.html"><img src="assets/images/logo.png" alt="Logo Image"/></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                <ul class="ct-socials list-unstyled list-inline">
                    <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Search" class="ct-divider active">
                        <div id="ct-js-navSearch" class="ct-navbar-navSearch">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default ct-defaultMenu" data-startnavbar="145">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ct-navbar--zoomIn" data-time="">
                <li class="dropdown"><a href="index.html"><span class="ct-dot"></span>Home<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown"><a href="index.html">Home Version</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index-onepager.html">Home Onepager</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="index-fixedTopBar.html">Header Effects</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                                <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                                <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                                <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                                <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                                <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                                <li><a href="index-hideMenu.html">Hide Menu </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="obituaries.html"><span class="ct-dot"></span>Obituaries</a></li>
                <li class="dropdown"><a href="flowers-and-gifts.html"><span class="ct-dot"></span>Flowers &amp; Gifts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                        <li><a href="single-product-page.html">Flowers Bouquet</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="about.html.twig"><span class="ct-dot"></span>About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html.twig">About Us</a></li>
                        <li><a href="our-services.html">Our Services</a></li>
                        <li class="dropdown"><a href="blog.html">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-single.html">Blog Single Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown active"><a href="features-grid.html"><span class="ct-dot"></span>Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-grid.html">Grid System</a></li>
                        <li><a href="features-typography.html">Typography</a></li>
                        <li><a href="features-buttons.html">Buttons</a></li>
                        <li class="active"><a href="features-forms.html">Forms</a></li>
                        <li class="dropdown"><a href="features-toggable.html">Toggables</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-toggable.html">Accordions</a></li>
                                <li><a href="features-tabs.html">Tabs</a></li>
                            </ul>
                        </li>
                        <li><a href="features-counters.html">Counters</a></li>

                        <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                        <li><a href="features-tables.html">Tables</a></li>
                        <li><a href="features-personBoxes.html">Person Boxes</a></li>
                        <li><a href="features-charts.html">Charts</a></li>
                        <li class="dropdown"><a href="features-p-icons.html">Progress</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-p-icons.html">Progress Icons</a></li>
                                <li><a href="features-p-bars.html">Progress Bars</a></li>
                            </ul>
                        </li>
                        <li><a href="features-p-tables.html">Pricing Tables</a></li>
                        <li class="dropdown"><a href="features-lists.html">Lists</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-lists.html">Lists Simple</a></li>
                                <li><a href="features-lists-icons.html">Lists Icons</a></li>
                            </ul>
                        </li>
                        <li><a href="features-media-section.html">Media Sections</a></li>
                        <li><a href="features-developers.html">For Developers</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="grief-support-resources.html"><span class="ct-dot"></span>Grief &amp; Healing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="grief-support-resources.html">Support Resources</a></li>
                        <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                        <li><a href="healing-process.html">The Healing Process</a></li>
                        <li><a href="counselling-services.html">Counselling Services</a></li>
                        <li><a href="grief-occured-death.html">Grief After Death</a></li>
                    </ul>
                </li>
                <li><a href="contact.html"><span class="ct-dot"></span>Contact Us</a></li>
            </ul>
            <div class="ct-navbar-search ct-navbar-search--type1">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control ct-fs-i input-lg" placeholder="Please type keywords..." required="">
                    </div>
                    <button class="ct-navbar-search-button" type="submit">
                        <i class="fa fa-search fa-fw"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>


<header class="ct-mediaSection ct-mediaSectionHeader ct-u-colorWhite" data-color="#fff"  data-height="300px" data-background="assets/images/content/features-header.jpg" data-background-mobile="assets/images/content/features-header.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row text-center ct-u-paddingTop40">
                <div class="col-md-12">
                    <h3 class="ct-fw-700 text-uppercase">Features</h3>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="features-grid.html">Features</a></li>
                        <li class="active">Our Forms</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="ct-u-paddingBoth80 ct-u-backgroundDark">
    <div class="container text-center">

        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite">Our Forms</h4>
                <span class="ct-iconDivider ct-iconDivider--dark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
                <p class="ct-u-fontSize24 ct-u-lineHeight36 ct-u-paddingTop40 ct-u-paddingBottom40 ct-u-colorWhite">
                    Check out variety of our forms you can use.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-success ct-frame" role="alert">
                    <strong>Well done!</strong> You successfully read this important alert message.
                </div>
                <div class="alert alert-info ct-frame ct-u-marginBottom60" role="alert">
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
                <div class="alert alert-success ct-frame" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <strong>Well done!</strong>

                    <p>
                        You successfully read this important alert message. You can be proud of yourself that you made such a great job!
                    </p>
                </div>
                <div class="alert alert-info ct-frame" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <strong>Heads up!</strong>

                    <p>
                        This alert needs your attention, but it's not super important. But it would be nice if you could give it a hug or something.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="alert alert-warning ct-frame" role="alert">
                    <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
                <div class="alert alert-danger ct-frame ct-u-marginBottom60" role="alert">
                    <strong>Oh snap!</strong> Change a few things up and try submitting again.
                </div>
                <div class="alert alert-warning ct-frame" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <strong>Warning!</strong>

                    <p>
                        Better check yourself, you're not looking too good. Maybe you should lie down for a moment or drink cup of tea.
                    </p>
                </div>
                <div class="alert alert-danger ct-frame" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <strong>Oh snap!</strong>

                    <p>
                        Change a few things up and try submitting again. There could be some error but don't worry everything will be fine.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="text-center ct-u-paddingBoth40">
                        <p class="ct-u-fontSize24 ct-u-lineHeight36 ct-u-colorWhite">
                            First Example of Contact Form
                        </p>
                    </div>
                </div>
                    <form role="form" action="assets/form/send.php" method="post" class="contactForm validateIt" data-email-subject="Contact Form" data-show-errors="true">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control ct-fs-i" id="name" placeholder="Your name" required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control ct-fs-i" id="phone" placeholder="Phone no." required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="email" class="form-control ct-fs-i" id="email" placeholder="Email address" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control ct-fs-i" rows="1" placeholder="What can we do for you?" id="message" required=""></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control ct-fs-i" rows="1" placeholder="" id="message-continue"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </div>
                        </div>
                    </form>

            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center ct-u-paddingTop80 ct-u-paddingBottom40">
                    <p class="ct-u-fontSize24 ct-u-lineHeight36 ct-u-colorWhite">
                        Second Example of Contact Form
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control ct-fs-i" id="name1" placeholder="Your name" required="">
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <input type="text" class="form-control ct-fs-i" id="phone1" placeholder="Phone no." required="">
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <input type="email" class="form-control ct-fs-i" id="email1" placeholder="Email address" required="">
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <textarea class="form-control ct-fs-i" rows="1" placeholder="What can we do for you?" id="message1" required=""></textarea>
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                    <textarea class="form-control ct-fs-i" rows="1" placeholder="" id="message-continue1" required=""></textarea>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-default">Send Message</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center ct-u-paddingTop80 ct-u-paddingBottom40">
                    <p class="ct-u-fontSize24 ct-u-lineHeight36 ct-u-colorWhite">
                        Example of Inline Form
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ct-u-colorWhite">
                <p>Add <code>.form-inline</code> to your <code>&lt;form&gt;</code> for left-aligned and inline-block controls.<br> This
                only applies to forms within viewports that are at least 768px wide.</p>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input required="" type="email" class="form-control ct-input--border ct-u-text--dark" id="exampleInputEmail2" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <input required="" type="password" class="form-control ct-input--border ct-u-text--dark" id="exampleInputPassword2" placeholder="Password">
                            </div>
                             <button type="submit" class="btn btn-default btn-arrow"><span>Sign In</span></button>
                        </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center ct-u-paddingTop80 ct-u-paddingBottom40">
                    <p class="ct-u-fontSize24 ct-u-lineHeight36 ct-u-colorWhite">
                        Other Behaviors
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form role="form">
                    <fieldset disabled="" class="ct-u-paddingBottom40">
                        <div class="form-group">
                            <label class="ct-u-marginBottom10 ct-u-colorWhite" for="disabledTextInput">Disabled input</label>
                            <input type="text" id="disabledTextInput" class="form-control ct-u-marginBottom10" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label class="ct-u-marginBottom10 ct-u-colorWhite" for="disabledSelect">Disabled select menu</label>
                            <select id="disabledSelect" class="form-control  ct-u-marginBottom10">
                                <option>Disabled select</option>
                            </select>
                        </div>
                        <div class="ct-radio--items ct-u-marginBottom10">
                            <div class="ct-checbox--custom">
                                <input type="checkbox" value="None" id="ct-checbox--custom2" name="check">
                                <label for="ct-checbox--custom2"></label>
                                <span class="ct-u-colorWhite"> Can't check this</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </fieldset>
                </form>

                <div class="form-group ct-input-different">
                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder=".input-lg" required="">
                </div>
                <div class="form-group ct-input-different">
                    <input class="form-control ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Default input" required="">
                </div>
                <div class="form-group ct-input-different">
                    <input class="form-control input-sm ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder=".input-sm" required="">
                </div>



                <form role="form" class="ct-u-marginTop40">
                    <div class="form-group ct-input-different">
                        <label for="helptext" class="ct-u-colorWhite">Input with help</label>
                        <input required="" type="email" class="form-control ct-input--border ct-u-text--dark" id="helptext" placeholder="Enter email">
                    </div>
                    <span class="help-block ">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="ct-footer">
    <div class="ct-footerUp">
        <ul class="list-inline list-unstyled text-center">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="obituaries.html">Obituaries</a>
            </li>
            <li>
                <a href="flowers-and-gifts.html">Flowers & Gifts</a>
            </li>
            <li>
                <a href="our-services.html">Our Services</a>
            </li>
            <li>
                <a href="about.html.twig">About Us</a>
            </li>
            <li>
                <a href="grief-support-resources.html">Grief & Healing</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="ct-footerMiddle">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell ct-col1">
                    <a href="index.html"><img src="assets/images/logo-dark.png" alt="Logo dark"/></a>
                </div>
                <div class="ct-u-displayTableCell ct-col2">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Call us"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">0 800 123 4567</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">Call Us 24/7</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col3">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Send a message"><a href="#"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">info@example.com</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">We will respond within 12h</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col4">
                    <ul class="ct-socials list-unstyled list-inline">
                        <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
               <span class="ct-sectioButton--square">
                   <i class="fa fa-angle-double-up"></i>
               </span>
            </a>
        </div>
    </div>
    <div class="ct-footerBottom text-center">
        <span class="ct-copyright">
            Copyrights © 2015 <span><a href="index.html">Memoria</a></span>. All rights reserved.
        </span>
        <span class="ct-company">
            Made with <span class="ct-heart"><i class="fa fa-heart-o"></i></span> by <a href="http://www.remotedevelopers.eu/">CreateIT</a>
        </span>
    </div>

</footer>
</div>

<!-- JavaScripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.placeholder.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/jquery.browser.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/snap.min.js"></script>
<script src="assets/js/smoothScroll.js"></script>
<script src="assets/js/media-section.js"></script>

<script src="assets/js/main.js"></script>

<!--Media Section-->
<script src="assets/js/jquery.stellar.min.js"></script>

<!--Topbar and Navbar effects-->
<script src="assets/js/headroom/headroom.js"></script>
<script src="assets/js/headroom/jQuery.headroom.js"></script>
<script src="assets/js/headroom/init.js"></script>

<!--Contact Form-->
<script src="assets/form/js/contact-form.js"></script>


</body>
</html>


