<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Memoria - Funeral Home HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>Memoria - Funeral Home HTML Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate  ct-headroom--fixedMenu">
<div class="ct-preloader"><div class="ct-preloader-content"></div></div>

<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li class="dropdown">
            <a href="index.html">Home <i class="fa fa-plus"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="index.html">Home Version <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index-onepager.html">Home Onepager</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu"><a href="index.html">Header Effects <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                        <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                        <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                        <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                        <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                        <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                        <li><a href="index-hideMenu.html">Hide Menu </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="obituaries.html">Obituaries</a></li>
        <li class="dropdown"><a href="flowers-and-gifts.html">Flowers &amp; Gifts <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                <li><a href="single-product-page.html">Flowers Bouquet</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="about.html.twig">About Us <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="about.html.twig">About Us</a></li>
                <li><a href="our-services.html">Our Services</a></li>
                <li class="dropdown-submenu"><a href="blog.html">Blog <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-single.html">Blog Single Page</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown"><a href="features-grid.html">Features <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="features-grid.html">Grid System</a></li>
                <li><a href="features-typography.html">Typography</a></li>
                <li><a href="features-buttons.html">Buttons</a></li>
                <li><a href="features-forms.html">Forms</a></li>
                <li class="dropdown-submenu"><a href="features-toggable.html">Toggables <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-toggable.html">Accordions</a></li>
                        <li><a href="features-tabs.html">Tabs</a></li>
                    </ul>
                </li>
                <li><a href="features-counters.html">Counters</a></li>
                <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                <li><a href="features-tables.html">Tables</a></li>
                <li><a href="features-personBoxes.html">Person Boxes</a></li>
                <li><a href="features-charts.html">Charts</a></li>
                <li class="dropdown-submenu"><a href="features-p-icons.html">Progress  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-p-icons.html">Progress Icons</a></li>
                        <li><a href="features-p-bars.html">Progress Bars</a></li>
                    </ul>
                </li>
                <li><a href="features-p-tables.html">Pricing Tables</a></li>
                <li class="dropdown-submenu"><a href="features-lists.html">Lists  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-lists.html">Lists Simple</a></li>
                        <li><a href="features-lists-icons.html">Lists Icons</a></li>
                    </ul>
                </li>
                <li><a href="features-media-section.html">Media Sections</a></li>
                <li><a href="features-developers.html">For Developers</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="grief-support-resources.html">Grief &amp; Healing <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="grief-support-resources.html">Support Resources</a></li>
                <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                <li><a href="healing-process.html">The Healing Process</a></li>
                <li><a href="counselling-services.html">Counselling Services</a></li>
                <li><a href="grief-occured-death.html">Grief After Death</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Website Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="ct-topBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-4 text-left">
                <div class="ct-contactBox">
                    <ul class="ct-contactBox-list list-unstyled list-inline">
                        <li  data-toggle="tooltip" data-placement="bottom" title="Call us" class="active"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                    </ul>
                    <span class="ct-contactBox-content ct-u-colorMotive ct-u-displayBlock ct-u-fontType2">0 800 123 4567</span>
                    <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-colorWhite ct-u-displayBlock ">Call Us 24/7</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4 text-center">
                <a href="index.html"><img src="assets/images/logo.png" alt="Logo Image"/></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                <ul class="ct-socials list-unstyled list-inline">
                    <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Search" class="ct-divider active">
                        <div id="ct-js-navSearch" class="ct-navbar-navSearch">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default ct-defaultMenu" data-startnavbar="145">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ct-navbar--zoomIn" data-time="">
                <li class="dropdown"><a href="index.html"><span class="ct-dot"></span>Home<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown"><a href="index.html">Home Version</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index-onepager.html">Home Onepager</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="index-fixedTopBar.html">Header Effects</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                                <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                                <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                                <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                                <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                                <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                                <li><a href="index-hideMenu.html">Hide Menu </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="obituaries.html"><span class="ct-dot"></span>Obituaries</a></li>
                <li class="dropdown"><a href="flowers-and-gifts.html"><span class="ct-dot"></span>Flowers &amp; Gifts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                        <li><a href="single-product-page.html">Flowers Bouquet</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="about.html.twig"><span class="ct-dot"></span>About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html.twig">About Us</a></li>
                        <li><a href="our-services.html">Our Services</a></li>
                        <li class="dropdown"><a href="blog.html">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-single.html">Blog Single Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown active"><a href="features-grid.html"><span class="ct-dot"></span>Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-grid.html">Grid System</a></li>
                        <li><a href="features-typography.html">Typography</a></li>
                        <li><a href="features-buttons.html">Buttons</a></li>
                        <li><a href="features-forms.html">Forms</a></li>
                        <li class="dropdown"><a href="features-toggable.html">Toggables</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-toggable.html">Accordions</a></li>
                                <li><a href="features-tabs.html">Tabs</a></li>
                            </ul>
                        </li>
                        <li><a href="features-counters.html">Counters</a></li>

                        <li class="active"><a href="features-iconBoxes.html">Icon Boxes</a></li>
                        <li><a href="features-tables.html">Tables</a></li>
                        <li><a href="features-personBoxes.html">Person Boxes</a></li>
                        <li><a href="features-charts.html">Charts</a></li>
                        <li class="dropdown"><a href="features-p-icons.html">Progress</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-p-icons.html">Progress Icons</a></li>
                                <li><a href="features-p-bars.html">Progress Bars</a></li>
                            </ul>
                        </li>
                        <li><a href="features-p-tables.html">Pricing Tables</a></li>
                        <li class="dropdown"><a href="features-lists.html">Lists</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-lists.html">Lists Simple</a></li>
                                <li><a href="features-lists-icons.html">Lists Icons</a></li>
                            </ul>
                        </li>
                        <li><a href="features-media-section.html">Media Sections</a></li>
                        <li><a href="features-developers.html">For Developers</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="grief-support-resources.html"><span class="ct-dot"></span>Grief &amp; Healing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="grief-support-resources.html">Support Resources</a></li>
                        <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                        <li><a href="healing-process.html">The Healing Process</a></li>
                        <li><a href="counselling-services.html">Counselling Services</a></li>
                        <li><a href="grief-occured-death.html">Grief After Death</a></li>
                    </ul>
                </li>
                <li><a href="contact.html"><span class="ct-dot"></span>Contact Us</a></li>
            </ul>
            <div class="ct-navbar-search ct-navbar-search--type1">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control ct-fs-i input-lg" placeholder="Please type keywords..." required="">
                    </div>
                    <button class="ct-navbar-search-button" type="submit">
                        <i class="fa fa-search fa-fw"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>


<header class="ct-mediaSection ct-mediaSectionHeader ct-u-colorWhite" data-color="#fff"  data-height="300px" data-background="assets/images/content/features-header.jpg" data-background-mobile="assets/images/content/features-header.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row text-center ct-u-paddingTop40">
                <div class="col-md-12">
                    <h3 class="ct-fw-700 text-uppercase">Features</h3>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="features-grid.html">Features</a></li>
                        <li class="active">Icon Boxes</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="ct-u-paddingBoth80 ct-u-backgroundDark">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite">First Version of Icon Boxes</h4>
                <span class="ct-iconDivider ct-iconDivider--dark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
            </div>
        </div>

        <div class="row ct-u-paddingTop55 ct-u-marginBottom30">
            <div class="col-md-4 col-sm-6 ct-u-paddingBottom30">
                <div class="ct-iconBoxes ct-frame">
                    <div class="ct-iconBoxes-icon">
                        <span class="ct-iconDivider ct-iconDivider--dark"><i class="fa fa-fire fa-2x"></i></span>
                    </div>
                    <div class="ct-iconBoxes-title">obituaries</div>
                    <div class="ct-iconBoxes-description">
                        <p>
                            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                        </p>
                    </div>
                    <div class="ct-iconBoxes-button ct-iconBoxes-button--topPosition">
                        <div class="btn-group">
                            <a href="#" class="btn btn-default">See Services</a>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#">History</a></li>
                                <li><a href="#">Philosophy</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Facilities</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 ct-u-paddingBottom30">
                <div class="ct-iconBoxes ct-frame">
                    <div class="ct-iconBoxes-icon">
                        <span class="ct-iconDivider ct-iconDivider--dark"><i class="fa fa-pagelines fa-2x"></i></span>
                    </div>
                    <div class="ct-iconBoxes-title">flowers &amp; gifts</div>
                    <div class="ct-iconBoxes-description">
                        <p>
                            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                        </p>
                    </div>
                    <div class="ct-iconBoxes-button ct-iconBoxes-button--topPosition">
                        <div class="btn-group">
                            <a href="#" class="btn btn-default">See Services</a>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">History</a></li>
                                <li><a href="#">Philosophy</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Facilities</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 ct-u-paddingBottom30">
                <div class="ct-iconBoxes ct-frame">
                    <div class="ct-iconBoxes-icon">
                        <span class="ct-iconDivider ct-iconDivider--dark"><i class="fa fa-server fa-2x"></i></span>
                    </div>
                    <div class="ct-iconBoxes-title">services</div>
                    <div class="ct-iconBoxes-description">
                        <p>
                            Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                        </p>
                    </div>
                    <div class="ct-iconBoxes-button ct-iconBoxes-button--topPosition">
                        <div class="btn-group">
                            <a href="#" class="btn btn-default">See Services</a>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">History</a></li>
                                <li><a href="#">Philosophy</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Facilities</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="ct-u-paddingBoth80 ct-u-backgroundDarkGrey">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite">Second Version of Icon Boxes</h4>
                <span class="ct-iconDivider ct-iconDivider--dark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
            </div>
        </div>

            <div class="row text-center ct-u-paddingTop60">
                <div class="row text-center">
                    <div class="col-md-3 col-sm-6">
                        <div class="ct-iconBoxes ct-iconBoxes--secondVersion">
                            <div class="ct-iconBoxes-icon">
                                <i class="fa fa-heart-o"></i>
                            </div>
                            <div class="ct-iconBoxes-title">
                                <h5 class="ct-fw-700 text-uppercase ct-u-colorWhite"><a href="#">stage 1</a></h5>
                            </div>
                            <small class="ct-iconBoxes-category">
                                lorem ipsum
                            </small>
                            <div class="ct-iconBoxes-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ct-iconBoxes ct-iconBoxes--secondVersion">
                            <div class="ct-iconBoxes-icon">
                                <i class="fa fa-info"></i>
                            </div>
                            <div class="ct-iconBoxes-title">
                                <h5 class="ct-fw-700 text-uppercase ct-u-colorWhite"><a href="#">stage 2</a></h5>
                            </div>
                            <small class="ct-iconBoxes-category">
                                lorem ipsum
                            </small>
                            <div class="ct-iconBoxes-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ct-iconBoxes ct-iconBoxes--secondVersion">
                            <div class="ct-iconBoxes-icon">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="ct-iconBoxes-title">
                                <h5 class="ct-fw-700 text-uppercase ct-u-colorWhite"><a href="#">stage 3</a></h5>
                            </div>
                            <small class="ct-iconBoxes-category">
                                lorem ipsum
                            </small>
                            <div class="ct-iconBoxes-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ct-iconBoxes ct-iconBoxes--secondVersion">
                            <div class="ct-iconBoxes-icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="ct-iconBoxes-title">
                                <h5 class="ct-fw-700 text-uppercase ct-u-colorWhite"><a href="#">stage 4</a></h5>
                            </div>
                            <small class="ct-iconBoxes-category">
                                lorem ipsum
                            </small>
                            <div class="ct-iconBoxes-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</section>

<footer class="ct-footer">
    <div class="ct-footerUp">
        <ul class="list-inline list-unstyled text-center">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="obituaries.html">Obituaries</a>
            </li>
            <li>
                <a href="flowers-and-gifts.html">Flowers & Gifts</a>
            </li>
            <li>
                <a href="our-services.html">Our Services</a>
            </li>
            <li>
                <a href="about.html.twig">About Us</a>
            </li>
            <li>
                <a href="grief-support-resources.html">Grief & Healing</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="ct-footerMiddle">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell ct-col1">
                    <a href="index.html"><img src="assets/images/logo-dark.png" alt="Logo dark"/></a>
                </div>
                <div class="ct-u-displayTableCell ct-col2">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Call us"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">0 800 123 4567</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">Call Us 24/7</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col3">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Send a message"><a href="#"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">info@example.com</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">We will respond within 12h</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col4">
                    <ul class="ct-socials list-unstyled list-inline">
                        <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
               <span class="ct-sectioButton--square">
                   <i class="fa fa-angle-double-up"></i>
               </span>
            </a>
        </div>
    </div>
    <div class="ct-footerBottom text-center">
        <span class="ct-copyright">
            Copyrights © 2015 <span><a href="index.html">Memoria</a></span>. All rights reserved.
        </span>
        <span class="ct-company">
            Made with <span class="ct-heart"><i class="fa fa-heart-o"></i></span> by <a href="http://www.remotedevelopers.eu/">CreateIT</a>
        </span>
    </div>

</footer>
</div>

<!-- JavaScripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.placeholder.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/jquery.browser.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/snap.min.js"></script>
<script src="assets/js/smoothScroll.js"></script>
<script src="assets/js/media-section.js"></script>

<script src="assets/js/main.js"></script>

<!--Media Section-->
<script src="assets/js/jquery.stellar.min.js"></script>

<!--Topbar and Navbar effects-->
<script src="assets/js/headroom/headroom.js"></script>
<script src="assets/js/headroom/jQuery.headroom.js"></script>
<script src="assets/js/headroom/init.js"></script>


</body>
</html>


