<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Memoria - Funeral Home HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>Memoria - Funeral Home HTML Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate  ct-headroom--fixedMenu">
<div class="ct-preloader"><div class="ct-preloader-content"></div></div>

<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar list-unstyled">
        <li class="dropdown">
            <a href="index.html">Home <i class="fa fa-plus"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="index.html">Home Version <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index-onepager.html">Home Onepager</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu"><a href="index.html">Header Effects <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                        <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                        <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                        <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                        <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                        <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                        <li><a href="index-hideMenu.html">Hide Menu </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="obituaries.html">Obituaries</a></li>
        <li class="dropdown"><a href="flowers-and-gifts.html">Flowers &amp; Gifts <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                <li><a href="single-product-page.html">Flowers Bouquet</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="about.html.twig">About Us <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="about.html.twig">About Us</a></li>
                <li><a href="our-services.html">Our Services</a></li>
                <li class="dropdown-submenu"><a href="blog.html">Blog <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-single.html">Blog Single Page</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown"><a href="features-grid.html">Features <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="features-grid.html">Grid System</a></li>
                <li><a href="features-typography.html">Typography</a></li>
                <li><a href="features-buttons.html">Buttons</a></li>
                <li><a href="features-forms.html">Forms</a></li>
                <li class="dropdown-submenu"><a href="features-toggable.html">Toggables <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-toggable.html">Accordions</a></li>
                        <li><a href="features-tabs.html">Tabs</a></li>
                    </ul>
                </li>
                <li><a href="features-counters.html">Counters</a></li>
                <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                <li><a href="features-tables.html">Tables</a></li>
                <li><a href="features-personBoxes.html">Person Boxes</a></li>
                <li><a href="features-charts.html">Charts</a></li>
                <li class="dropdown-submenu"><a href="features-p-icons.html">Progress  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-p-icons.html">Progress Icons</a></li>
                        <li><a href="features-p-bars.html">Progress Bars</a></li>
                    </ul>
                </li>
                <li><a href="features-p-tables.html">Pricing Tables</a></li>
                <li class="dropdown-submenu"><a href="features-lists.html">Lists  <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-lists.html">Lists Simple</a></li>
                        <li><a href="features-lists-icons.html">Lists Icons</a></li>
                    </ul>
                </li>
                <li><a href="features-media-section.html">Media Sections</a></li>
                <li><a href="features-developers.html">For Developers</a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="grief-support-resources.html">Grief &amp; Healing <i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a href="grief-support-resources.html">Support Resources</a></li>
                <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                <li><a href="healing-process.html">The Healing Process</a></li>
                <li><a href="counselling-services.html">Counselling Services</a></li>
                <li><a href="grief-occured-death.html">Grief After Death</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Website Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="ct-topBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-4 text-left">
                <div class="ct-contactBox">
                    <ul class="ct-contactBox-list list-unstyled list-inline">
                        <li  data-toggle="tooltip" data-placement="bottom" title="Call us" class="active"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                    </ul>
                    <span class="ct-contactBox-content ct-u-colorMotive ct-u-displayBlock ct-u-fontType2">0 800 123 4567</span>
                    <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-colorWhite ct-u-displayBlock ">Call Us 24/7</span>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4 text-center">
                <a href="index.html"><img src="assets/images/logo.png" alt="Logo Image"/></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                <ul class="ct-socials list-unstyled list-inline">
                    <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    <li data-toggle="tooltip" data-placement="bottom" title="Search" class="ct-divider active">
                        <div id="ct-js-navSearch" class="ct-navbar-navSearch">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default ct-defaultMenu" data-startnavbar="145">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ct-navbar--zoomIn" data-time="">
                <li class="dropdown"><a href="index.html"><span class="ct-dot"></span>Home<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown"><a href="index.html">Home Version</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index-onepager.html">Home Onepager</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="index-fixedTopBar.html">Header Effects</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-fixedTopBar.html">Fixed Topbar</a></li>
                                <li><a href="index-fixedMenu.html">Fixed Menu</a></li>
                                <li><a href="index-fixedBoth.html">Fixed Both</a></li>
                                <li><a href="index-scrollUpTopbar.html">Scroll Up Topbar </a></li>
                                <li><a href="index-scrollUpMenu.html">Scroll Up Menu </a></li>
                                <li><a href="index-scrollUpBoth.html">Scroll Up Both </a></li>
                                <li><a href="index-hideMenu.html">Hide Menu </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="obituaries.html"><span class="ct-dot"></span>Obituaries</a></li>
                <li class="dropdown"><a href="flowers-and-gifts.html"><span class="ct-dot"></span>Flowers &amp; Gifts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="flowers-and-gifts.html">Flowers &amp; Gifts</a></li>
                        <li><a href="single-product-page.html">Flowers Bouquet</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="about.html.twig"><span class="ct-dot"></span>About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html.twig">About Us</a></li>
                        <li><a href="our-services.html">Our Services</a></li>
                        <li class="dropdown"><a href="blog.html">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-single.html">Blog Single Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="features-grid.html"><span class="ct-dot"></span>Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="features-grid.html">Grid System</a></li>
                        <li><a href="features-typography.html">Typography</a></li>
                        <li><a href="features-buttons.html">Buttons</a></li>
                        <li><a href="features-forms.html">Forms</a></li>
                        <li class="dropdown"><a href="features-toggable.html">Toggables</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-toggable.html">Accordions</a></li>
                                <li><a href="features-tabs.html">Tabs</a></li>
                            </ul>
                        </li>
                        <li><a href="features-counters.html">Counters</a></li>

                        <li><a href="features-iconBoxes.html">Icon Boxes</a></li>
                        <li><a href="features-tables.html">Tables</a></li>
                        <li><a href="features-personBoxes.html">Person Boxes</a></li>
                        <li><a href="features-charts.html">Charts</a></li>
                        <li class="dropdown"><a href="features-p-icons.html">Progress</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-p-icons.html">Progress Icons</a></li>
                                <li><a href="features-p-bars.html">Progress Bars</a></li>
                            </ul>
                        </li>
                        <li><a href="features-p-tables.html">Pricing Tables</a></li>
                        <li class="dropdown"><a href="features-lists.html">Lists</a>
                            <ul class="dropdown-menu">
                                <li><a href="features-lists.html">Lists Simple</a></li>
                                <li><a href="features-lists-icons.html">Lists Icons</a></li>
                            </ul>
                        </li>
                        <li><a href="features-media-section.html">Media Sections</a></li>
                        <li><a href="features-developers.html">For Developers</a></li>
                    </ul>
                </li>
                <li class="dropdown active"><a href="grief-support-resources.html"><span class="ct-dot"></span>Grief &amp; Healing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="grief-support-resources.html">Support Resources</a></li>
                        <li><a href="understanding-grief.html">Grief &amp; Despair</a></li>
                        <li><a href="healing-process.html">The Healing Process</a></li>
                        <li><a href="counselling-services.html">Counselling Services</a></li>
                        <li class="active"><a href="grief-occured-death.html">Grief After Death</a></li>
                    </ul>
                </li>
                <li><a href="contact.html"><span class="ct-dot"></span>Contact Us</a></li>
            </ul>
            <div class="ct-navbar-search ct-navbar-search--type1">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control ct-fs-i input-lg" placeholder="Please type keywords..." required="">
                    </div>
                    <button class="ct-navbar-search-button" type="submit">
                        <i class="fa fa-search fa-fw"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>


<header class="ct-mediaSection ct-mediaSectionHeader ct-u-colorWhite" data-color="#fff"  data-height="300px" data-background="assets/images/content/grief-header-image4.jpg" data-background-mobile="assets/images/content/contact-us-header-image.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row text-center ct-u-paddingTop40">
                <div class="col-md-12">
                    <h3 class="ct-fw-700 text-uppercase">Grief & Healing</h3>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="grief-support-resources.html">Grief & Healing</a></li>
                        <li class="active">A Death Has Just Occured</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="ct-u-backgroundDark ct-u-paddingBoth90">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite">a death has just occured?</h4>
                <span class="ct-iconDivider ct-iconDivider--dark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
                <p class="ct-captionBox ct-fs-i ct-u-fontType2 ct-u-fontSize30 ct-u-lineHeight45 ct-u-paddingTop50 ct-u-paddingBottom25 ct-u-colorWhite">We prepared for you few most important activities that <br>must take place first. Phasellus congue lacus eget neque.</p>
                    <ul class="ct-buttonList list-inline list-unstyled">
                        <li><a href="#death-place" class="btn btn-default ct-js-btnScroll">Place of Death </a></li>
                        <li><a href="#involve" class="btn btn-default ct-js-btnScroll">Who to Involve </a></li>
                        <li><a href="#questions" class="btn btn-default ct-js-btnScroll">Important Questions </a></li>
                        <li><a href="#funeral-home" class="btn btn-default ct-js-btnScroll">What to Expect at Funeral Home </a></li>
                    </ul>
            </div>
        </div>
    </div>
</section>

<section class="ct-u-backgroundBlack ct-accordianSection ct-u-paddingTop90 ct-u-paddingBottom100" id="questions">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite">important questions</h4>
                <span class="ct-iconDivider ct-iconDivider--dark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
            </div>
        </div>

        <div class="row ct-u-paddingTop50">
            <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel-group ct-panelFirstVariations" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default ct-u-paddingBottom40">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span></span>Is casket needed? Do I have to purchase One?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default ct-u-paddingBottom40">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span></span>Is embalming obligatory?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default ct-u-paddingBottom40">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span></span>What type of service do you propose?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span></span>Who takes care of cemetery arrangements?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ct-mediaSection" data-color="#fff" data-height="810px" data-background="assets/images/content/image7.jpg" data-background-mobile="assets/images/content/image7.jpg" id="involve">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite ">Who Should be Involved?</h4>
                    <span class="ct-iconDivider ct-iconDivider--dark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
                </div>
            </div>
            <div class="row ct-u-paddingTop50">
                <div class="col-md-4 col-md-offset-2">
                    <p class="ct-u-colorWhite ct-funeralText">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed. Proin nibh augue.
                    </p>
                </div>

                <div class="col-md-4">
                    <p class="ct-u-colorWhite ct-funeralText">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed. Proin nibh augue.
                    </p>
                </div>
            </div>
            <div class="row text-center ct-u-paddingTop80">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ct-iconBoxes ct-iconBoxes--secondVersion">
                                <div class="ct-iconBoxes-icon">
                                    <i class="fa fa-heart-o"></i>
                                </div>
                                <div class="ct-iconBoxes-title">
                                    <h5 class="ct-fw-700 text-uppercase ct-u-colorWhite"><a href="#">close family</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ct-iconBoxes ct-iconBoxes--secondVersion">
                                <div class="ct-iconBoxes-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="ct-iconBoxes-title">
                                    <h5 class="ct-fw-700 text-uppercase ct-u-colorWhite"><a href="#">close friends</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ct-iconBoxes ct-iconBoxes--secondVersion">
                                <div class="ct-iconBoxes-icon">
                                    <i class="fa fa-university"></i>
                                </div>
                                <div class="ct-iconBoxes-title">
                                    <h5 class="ct-fw-700 text-uppercase ct-u-colorWhite"><a href="#">spiritual advisors</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ct-deathSection ct-u-backgroundDark ct-u-paddingBoth90" id="death-place">
    <div class="container">
        <div class="row text-center ct-u-paddingBottom60">
            <div class="col-md-12">
                <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite">place of death</h4>
                <span class="ct-iconDivider ct-iconDivider--dark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
            </div>
        </div>

        <div class="row ct-u-paddingBottom45">
            <div class="col-lg-4 col-md-5 col-sm-12 text-center">
                <img src="assets/images/content/image9.jpg" alt="Image" class="img-thumbnail"/>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                <h5 class="ct-fw-700 ct-u-colorWhite text-uppercase ct-headerLine ct-headerLine--center">Death occured at home</h5>
                <p class="ct-u-colorWhite ct-u-paddingTop15">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.</p>

                <p class="ct-u-colorWhite ct-u-paddingTop20">Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum,
                    dui ligula ultricies purus, sed posuere libero dui id orci.
                </p>
            </div>
        </div>

        <div class="row ct-u-paddingBottom45">
            <div class="col-lg-4 col-md-5 text-center">
                <img src="assets/images/content/image8.jpg" alt="Image" class="img-thumbnail"/>
            </div>
            <div class="col-lg-8 col-md-7">
                <h5 class="ct-fw-700 ct-u-colorWhite text-uppercase ct-headerLine ct-headerLine--center">Death occured at Work</h5>
                <p class="ct-u-colorWhite ct-u-paddingTop15">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.</p>

                    <p class="ct-u-colorWhite ct-u-paddingTop20">Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum,
                    dui ligula ultricies purus, sed posuere libero dui id orci.
                </p>
            </div>
        </div>

        <div class="row ct-u-paddingBottom10">
            <div class="col-lg-4 col-md-5 text-center">
                <img src="assets/images/content/image10.jpg" alt="Image" class="img-thumbnail"/>
            </div>
            <div class="col-lg-8 col-md-7">
                <h5 class="ct-fw-700 ct-u-colorWhite text-uppercase ct-headerLine ct-headerLine--center">Death occured Under Supervised Care</h5>
                <p class="ct-u-colorWhite ct-u-paddingTop15">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.
                    Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.</p>

                <p class="ct-u-colorWhite ct-u-paddingTop20">Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum,
                    dui ligula ultricies purus, sed posuere libero dui id orci.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ct-mediaSection ct-funeralSection" data-color="#fff" data-type="parallax" data-height="940px" data-background="assets/images/content/image11.jpg" data-background-mobile="assets/images/content/image11.jpg" id="funeral-home">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 class="text-uppercase ct-fw-700 ct-u-colorWhite">What to Expect at Funeral Home?</h4>
                    <span class="ct-iconDivider ct-iconDivider--lightDark ct-iconDivider--withOpacity"><i class="fa fa-leaf fa-2x"></i></span>
                </div>
                <div class="col-md-10 col-md-offset-1 ct-u-paddingTop40">
                    <p class="ct-u-colorWhite ct-u-fontSize30 ct-u-lineHeight45 ct-u-fontType2 ct-fs-i text-center">
                        Our funeral director will lead you through some official procedures and will provide you with our general price list. To start we will need the following information about decedant:
                    </p>
                </div>
                <div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-12 ct-u-paddingTop80">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list-unstyled ct-componentLists">
                                <li><i class="fa fa-chevron-down "></i> Full Legal Name</li>
                                <li><i class="fa fa-chevron-down "></i> Home Address</li>
                                <li><i class="fa fa-chevron-down "></i> Social Security Number</li>
                                <li><i class="fa fa-chevron-down "></i> Date of Birth</li>
                                <li><i class="fa fa-chevron-down "></i> Place of Birth</li>
                                <li><i class="fa fa-chevron-down "></i> Father's Name</li>
                                <li><i class="fa fa-chevron-down "></i> Mother's Name</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list-unstyled ct-componentLists">
                                <li><i class="fa fa-chevron-down "></i> Recent Occupation</li>
                                <li><i class="fa fa-chevron-down "></i> Highest Education</li>
                                <li><i class="fa fa-chevron-down "></i> Occupation</li>
                                <li><i class="fa fa-chevron-down "></i> Clothing</li>
                                <li><i class="fa fa-chevron-down "></i> Clergy Name</li>
                                <li><i class="fa fa-chevron-down "></i> Survivors</li>
                                <li><i class="fa fa-chevron-down "></i> Insurance Policies</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="ct-footer">
    <div class="ct-footerUp">
        <ul class="list-inline list-unstyled text-center">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="obituaries.html">Obituaries</a>
            </li>
            <li>
                <a href="flowers-and-gifts.html">Flowers & Gifts</a>
            </li>
            <li>
                <a href="our-services.html">Our Services</a>
            </li>
            <li>
                <a href="about.html.twig">About Us</a>
            </li>
            <li>
                <a href="grief-support-resources.html">Grief & Healing</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="ct-footerMiddle">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell ct-col1">
                    <a href="index.html"><img src="assets/images/logo-dark.png" alt="Logo dark"/></a>
                </div>
                <div class="ct-u-displayTableCell ct-col2">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Call us"><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">0 800 123 4567</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">Call Us 24/7</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col3">
                    <div class="ct-contactBox">
                        <ul class="ct-contactBox-list list-unstyled list-inline">
                            <li  data-toggle="tooltip" data-placement="bottom" title="Send a message"><a href="#"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                        </ul>
                        <span class="ct-contactBox-content ct-u-displayBlock ct-u-fontType2 ct-fs-i ct-u-fontSize24 ct-u-colorDark">info@example.com</span>
                        <span class="ct-contactBox-info ct-fw-800 ct-fs-i ct-u-displayBlock ct-u-colorDark">We will respond within 12h</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-col4">
                    <ul class="ct-socials list-unstyled list-inline">
                        <li data-toggle="tooltip" data-placement="bottom" title="Facebook"><a href="https://www.facebook.com/createITpl"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Twitter"><a href="https://twitter.com/createitpl"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Google Plus"><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
               <span class="ct-sectioButton--square">
                   <i class="fa fa-angle-double-up"></i>
               </span>
            </a>
        </div>
    </div>
    <div class="ct-footerBottom text-center">
        <span class="ct-copyright">
            Copyrights © 2015 <span><a href="index.html">Memoria</a></span>. All rights reserved.
        </span>
        <span class="ct-company">
            Made with <span class="ct-heart"><i class="fa fa-heart-o"></i></span> by <a href="http://www.remotedevelopers.eu/">CreateIT</a>
        </span>
    </div>

</footer>
</div>

<!-- JavaScripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.placeholder.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/jquery.browser.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/snap.min.js"></script>
<script src="assets/js/smoothScroll.js"></script>
<script src="assets/js/media-section.js"></script>

<script src="assets/js/main.js"></script>

<!--Media Section-->
<script src="assets/js/jquery.stellar.min.js"></script>

<!--Topbar and Navbar effects-->
<script src="assets/js/headroom/headroom.js"></script>
<script src="assets/js/headroom/jQuery.headroom.js"></script>
<script src="assets/js/headroom/init.js"></script>


</body>
</html>