<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Memoria - Funeral Home HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <title>Memoria - Funeral Home HTML Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.custom.js"></script>
</head>
<body>

<div class="ct-gallery-item ct-gallery-item--masonry hidden 2012">
    <div class="ct-gallery-itemInner ct-gallery-itemInner--ribbon ct-frame">
        <div class="ct-gallery-itemInner-image ct-gallery--hover">
            <a href="#"  data-toggle="modal" data-target="#myModal">
                <img src="assets/images/content/person1.jpg" alt="Image"/>
            </a>
        </div>

        <div class="ct-gallery-itemInner-content">
            <h4 class="ct-u-fontType2 ct-fs-i">John Snow</h4>
            <span class="ct-fw-700 ct-fs-i ct-u-displayBlock">Husband & Father</span>
            <span class="ct-u-displayBlock ct-fw-700 ct-fs-i">01.01.1921 - 04.13.2012</span>

            <ul class="list-inline list-unstyled ct-u-fontType2 ct-fs-i ct-u-paddingTop20">
                <li><a href="#">Share</a></li>
                <li><a href="#">/</a></li>
                <li><a href="flowers-and-gifts.html">Send Flowers</a></li>
            </ul>
            <div class="clearfix"></div>
            <p>
                Great man left us this day. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Rest in piece John.
            </p>
        </div>
    </div>

</div>

<div class="ct-gallery-item ct-gallery-item--masonry hidden 2013">
    <div class="ct-gallery-itemInner ct-gallery-itemInner--ribbon ct-frame">
        <div class="ct-gallery-itemInner-image ct-gallery--hover">
            <a href="#" data-toggle="modal" data-target="#myModal">
                <img src="assets/images/content/person4.jpg" alt="Image"/>
            </a>
        </div>

        <div class="ct-gallery-itemInner-content">
            <h4 class="ct-u-fontType2 ct-fs-i">Nancy Wright</h4>
            <span class="ct-fw-700 ct-fs-i ct-u-displayBlock">Beloved Mother</span>
            <span class="ct-u-displayBlock ct-fw-700 ct-fs-i">11.01.1932 - 24.03.2013</span>
            <ul class="list-inline list-unstyled ct-u-fontType2 ct-fs-i ct-u-paddingTop20">
                <li><a href="#">Share</a></li>
                <li><a href="#">/</a></li>
                <li><a href="flowers-and-gifts.html">Send Flowers</a></li>
            </ul>
            <div class="clearfix"></div>
            <p>
                Great man left us this day. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Rest in piece John.
            </p>
        </div>
    </div>
</div>

<div class="ct-gallery-item ct-gallery-item--masonry hidden 2012">
    <div class="ct-gallery-itemInner ct-gallery-itemInner--ribbon ct-frame">
        <div class="ct-gallery-itemInner-image ct-gallery--hover">
            <a href="#" data-toggle="modal" data-target="#myModal">
                <img src="assets/images/content/person2.jpg" alt="Image"/>
            </a>
        </div>

        <div class="ct-gallery-itemInner-content">
            <h4 class="ct-u-fontType2 ct-fs-i">Walter Mitty</h4>
            <span class="ct-fw-700 ct-fs-i ct-u-displayBlock">Amazing Man</span>
            <span class="ct-u-displayBlock ct-fw-700 ct-fs-i">22.12.1925 - 16.09.2012</span>
            <ul class="list-inline list-unstyled ct-u-fontType2 ct-fs-i ct-u-paddingTop20">
                <li><a href="#">Share</a></li>
                <li><a href="#">/</a></li>
                <li><a href="flowers-and-gifts.html">Send Flowers</a></li>
            </ul>
            <div class="clearfix"></div>
            <p>
                Great man left us this day. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Rest in piece John.
            </p>
        </div>
    </div>
</div>

<div class="ct-gallery-item ct-gallery-item--masonry hidden 2014">
    <div class="ct-gallery-itemInner ct-gallery-itemInner--ribbon ct-frame">
        <div class="ct-gallery-itemInner-image ct-gallery--hover">
            <a href="#" data-toggle="modal" data-target="#myModal">
                <img src="assets/images/content/person2.jpg" alt="Image"/>
            </a>
        </div>

        <div class="ct-gallery-itemInner-content">
            <h4 class="ct-u-fontType2 ct-fs-i">Walter Mitty</h4>
            <span class="ct-fw-700 ct-fs-i ct-u-displayBlock">Amazing Man</span>
            <span class="ct-u-displayBlock ct-fw-700 ct-fs-i">11.08.1937 - 14.03.2014</span>
            <ul class="list-inline list-unstyled ct-u-fontType2 ct-fs-i ct-u-paddingTop20">
                <li><a href="#">Share</a></li>
                <li><a href="#">/</a></li>
                <li><a href="flowers-and-gifts.html">Send Flowers</a></li>
            </ul>
            <div class="clearfix"></div>
            <p>
                Great man left us this day. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Rest in piece John.
            </p>
        </div>
    </div>
</div>

<div class="ct-gallery-item ct-gallery-item--masonry hidden 2015">
    <div class="ct-gallery-itemInner ct-gallery-itemInner--ribbon ct-frame">
        <div class="ct-gallery-itemInner-image ct-gallery--hover">
            <a href="#" data-toggle="modal" data-target="#myModal">
                <img src="assets/images/content/person3.jpg" alt="Image"/>
            </a>
        </div>

        <div class="ct-gallery-itemInner-content">
            <h4 class="ct-u-fontType2 ct-fs-i">George Tyson</h4>
            <span class="ct-fw-700 ct-fs-i ct-u-displayBlock">Our Teacher</span>
            <span class="ct-u-displayBlock ct-fw-700 ct-fs-i">22.03.1920 - 20.03.2015</span>
            <ul class="list-inline list-unstyled ct-u-fontType2 ct-fs-i ct-u-paddingTop20">
                <li><a href="#">Share</a></li>
                <li><a href="#">/</a></li>
                <li><a href="flowers-and-gifts.html">Send Flowers</a></li>
            </ul>
            <div class="clearfix"></div>
            <p>
                Great man left us this day. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Rest in piece John.
            </p>
        </div>
    </div>
</div>

<div class="ct-gallery-item ct-gallery-item--masonry hidden 2015">
    <div class="ct-gallery-itemInner ct-gallery-itemInner--ribbon ct-frame">
        <div class="ct-gallery-itemInner-image ct-gallery--hover">
            <a href="#" data-toggle="modal" data-target="#myModal">
                <img src="assets/images/content/person1.jpg" alt="Image"/>
            </a>
        </div>

        <div class="ct-gallery-itemInner-content">
            <h4 class="ct-u-fontType2 ct-fs-i">John Snow</h4>
            <span class="ct-fw-700 ct-fs-i ct-u-displayBlock">Husband & Father</span>
            <span class="ct-u-displayBlock ct-fw-700 ct-fs-i">01.01.1947 - 24.05.2015</span>
            <ul class="list-inline list-unstyled ct-u-fontType2 ct-fs-i ct-u-paddingTop20">
                <li><a href="#">Share</a></li>
                <li><a href="#">/</a></li>
                <li><a href="flowers-and-gifts.html">Send Flowers</a></li>
            </ul>
            <div class="clearfix"></div>
            <p>
                Great man left us this day. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Rest in piece John.
            </p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content ct-frame">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/images/content/death-person-big.jpg" alt="Image"/>
            </div>
            <div class="modal-body">
                <h4 class="ct-u-fontType2 ct-fs-i">John Snow</h4>
                <span class="ct-fw-700 ct-fs-i ct-u-displayBlock">Husband &amp; Father</span>
                <span class="ct-u-displayBlock ct-fw-700 ct-fs-i">01.01.1921 - 04.13.2015</span>
                <ul class="list-inline list-unstyled ct-u-fontType2 ct-fs-i ct-u-paddingTop20">
                    <li><a href="#">Share</a></li>
                    <li><a href="#">/</a></li>
                    <li><a href="flowers-and-gifts.html">Send Flowers</a></li>
                </ul>
                <div class="clearfix"></div>
                <p>
                    Great man left us this day. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Rest in piece John.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p> Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!-- JavaScripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.placeholder.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/jquery.browser.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>

<script src="assets/js/main.js"></script>

<!--Masonry and Isotope-->
<script src="assets/js/portfolio/jquery.isotope.min.js"></script>
<script src="assets/js/portfolio/imagesloaded.js"></script>
<script src="assets/js/portfolio/infinitescroll.min.js"></script>
<script src="assets/js/portfolio/init.js"></script>



</body>
</html>